<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="../static/css/myprofile.css">
</head>
<body>
    <header class="header">
      <a href="{{ url_for('home') }}" class="logo">ENGINEERIFY</a> <!--logo placed here-->
       
      <div> 
          <nav class="navbar">
              <ul>
                <li ><a class="navlist" href="{{ url_for('home') }}" id="home">Home</a></li>
                <li class="navlist dropdown">
                  Engineering Exams 
                  <span class="arrow">&#9662;</span>
                  <ul class="dropdown-menu">
                    <li><a href="https://jeemain.nta.nic.in/">JEE</a></li>
                    <li><a href="https://jeeadv.ac.in/">JEE-Advance</a></li>
                    <li><a href="https://cetcell.mahacet.org/">MHT-CET</a></li>
                    <li><a href="https://www.manipal.edu/mu/admission/indian-students/online-entrance-exam-overview.html">MET</a></li>
                    <li><a href="https://www.bitsadmission.com/">BITSAT</a></li>
                    <li><a href="https://vit.ac.in/">VITEEE</a></li>
                  </ul>
                </li>
                <li><a class="navlist" href="{{ url_for('exploreenginerring') }}">Explore Engineering</a></li>
                <li><a class="navlist" href="{{ url_for('explore') }}">Top colleges</a></li>
                <li class="navlist dropdown">
                  Mock Tests 
                  <span class="arrow">&#9662;</span>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('quizinstructions') }}">MHT-CET-Mock Test</a></li>
                    <li><a href="{{ url_for('quizinstructionsjee') }}">JEE-Mock Test</a></li>
                    <li><a href="{{ url_for('quizinstructionsbitsat') }}">BITSAT-Mock Test</a></li>
                  </ul>
                </li>
                <li class="navlist dropdown">
                  Leaderboards 
                  <span class="arrow">&#9662;</span>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('leaderboard') }}">MHT-CET-Mock Test Leaderboards</a></li>
                    <li><a href="{{ url_for('leaderboardjee') }}">JEE-Mock Test Leaderboards</a></li>
                    <li><a href="{{ url_for('leaderboardbitsat') }}">BITSAT-Mock Test Leaderboards</a></li>
                  </ul>
                </li>
                <li><a class="navlist" href="{{ url_for('contactus') }}">Contact Us</a></li>
                <!-- <button class="login">LOG IN/SIGN IN</button> -->
                {% if user %}
                <!-- <p class="user-info">User : {{ user[1] }}</p> -->
                <!-- <a href="/logout"><button class="login" id="checkLoginButton">LOG OUT</button></a> -->
                <li class="navlist dropdown userprofile">
                  <div class="user-name">{{ user[1] }}</div>
                  <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="user-icon" alt="User Icon">
                  <div class="arrow">&#9662;</div>
            
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('myprofile') }}">MY Profile</a></li>
                    <li><a href="{{ url_for('editprofile') }}">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <a href="/login"><button class="login" id="checkLoginButton">LOG IN/SIGN UP</button></a>
                {% endif %}

                
               
             </ul>
           </nav>
              </div>
             
    </header>
    


    <div class="profile-container">
        <h1>My Profile</h1>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-danger">
                    <ul>
                      {% for message in messages %}
                        <li>{{ messages}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              {% endwith %}
              
        <div class="profileholder">
        <div class="profile-card">
            <p><strong>Name:</strong> {{ user[1] }}</p>
            <p><strong>Email:</strong> {{ user[2] }}</p>
            <p><strong>Phone No:</strong> {{ user[7] or "Not Provided" }}</p>
            <p><strong>Country:</strong> {{ user[8] or "Not Provided" }}</p>
            <hr>
            <h3>Mock-Test Scores:</h3>
            <p><strong>MHT-CET Points:</strong> {% if user[4] is none %}
                Not Attempted
              {% else %}
                {{ user[4] }}
              {% endif %}</p>
            <p><strong>JEE Points:</strong> {% if user[5] is none %}
                Not Attempted
              {% else %}
                {{ user[5] }}
              {% endif %}</p>
            <p><strong>BITSAT Points:</strong> {% if user[6] is none %}
                Not Attempted
              {% else %}
                {{ user[6] }}
              {% endif %}</p>
        </div>
        <div class="imageholder"><img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="user-icon-in-profile-card" alt="User Icon"></div>
        </div>
       
    </div>
<!--Footer starts-->
<footer>
    <div class="footer">
        <div class="nfirst-box">
            <div class="flogo"><h2>[ENGINEERIFY]</h2></div>
            <div class="ftext">Welcome to ENGINEERIFY , a dedicated platform desinged to empower students on their journey towards a successful engineering career.</div>
            <div class="fcontact">
                <div class="femail">
                    <p>Email</p>
                    <p>ENGINEERIFY@website.com</p>
                </div>
                <div class="ftelephone">
                    <p>Telephone</p>
                    <p>+91 xxxxxxxxxx</p>
                </div>
            </div>
        </div>
        <div class="fsocial_media nbox">
            <h3>Social Media</h3>
            <ul>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>LinkedIn</li>
                <li>Facebook</li>
            </ul>
        </div>
        <div class="fstudy_resources nbox">
            <h3>Study Resources</h3>
            <ul>
                <li>Integration formulas</li>
                <li>Derivative formulas</li>
                <li>Maths Cheat Sheet</li>
                <li>Physics Cheat Sheet</li>
            </ul>
        </div>
        <div class="fFree_textbook_solution nbox">
            <h3>Free textbook Solution</h3>
            <ul>
                <li>R.D sharma</li>
                <li>NCERT</li>
                <li>Physical Chemistry by P. Bahadur</li>
                <li>Mathematics for Class 11 and 12 by R.D. Sharma</li>
            </ul>
        </div>
    </div>
</footer>
<!--Footer ends-->

</body>
</html>
